<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iData.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
        <remove name="LocalSqlServer" />
    
	<add name="ApplicationServices" connectionString="Data Source=125.212.228.89;Initial Catalog=In.MAN_UAT;User ID=In.MAN_UAT;Password=In.MAN_UAT" providerName="System.Data.SqlClient" />
	<add name="iData" connectionString="Data Source=125.212.228.89;Initial Catalog=In.MAN_UAT;User ID=In.MAN_UAT;Password=In.MAN_UAT" providerName="System.Data.SqlClient" />
	    <!--
	  -->
	
	
    	 <!--
   
	<add name="ApplicationServices" connectionString="Data Source=125.212.228.89;Initial Catalog=In.MAN_STD;User ID=In.MAN_STD;Password=In.MAN_STD" providerName="System.Data.SqlClient" />
	<add name="iData" connectionString="Data Source=125.212.228.89;Initial Catalog=In.MAN_STD;User ID=In.MAN_STD;Password=In.MAN_STD" providerName="System.Data.SqlClient" />

	<add name="ApplicationServices" connectionString="Data Source=125.212.228.89;Initial Catalog=In.BOs_CRM_IKIGAI3;User ID=In.BOs_CRM_IKIGAI3;Password=In.BOs_CRM_IKIGAI3" providerName="System.Data.SqlClient" />
	<add name="iData" connectionString="Data Source=125.212.228.89;Initial Catalog=In.BOs_CRM_IKIGAI3;User ID=In.BOs_CRM_IKIGAI3;Password=In.BOs_CRM_IKIGAI3" providerName="System.Data.SqlClient" />
	
    <add name="ApplicationServices" connectionString="Data Source=125.212.228.89;Initial Catalog=In.SH.ERP;User ID=In.SH.ERP;Password=123456789" providerName="System.Data.SqlClient"/>
    <add name="iData" connectionString="Data Source=125.212.228.89;Initial Catalog=In.SH.ERP;User ID=In.SH.ERP;Password=123456789" providerName="System.Data.SqlClient"/>

    <add name="ApplicationServices" connectionString="Data Source=125.212.228.89;Initial Catalog=In.MAN_STD;User ID=In.BOs_CRM_IKIGAI3;Password=In.BOs_CRM_IKIGAI3" providerName="System.Data.SqlClient"/>
    <add name="iData" connectionString="Data Source=125.212.228.89;Initial Catalog=In.MAN_STD;User ID=In.BOs_CRM_IKIGAI3;Password=In.BOs_CRM_IKIGAI3" providerName="System.Data.SqlClient"/>
     
    <add name="ApplicationServices" connectionString="Data Source=192.168.100.56;Initial Catalog=In.BOs_AVT;User ID=In.MAN-STD;Password=In.MAN-STD" providerName="System.Data.SqlClient"/>
    <add name="iData" connectionString="Data Source=192.168.100.56;Initial Catalog=In.BOs_AVT;User ID=In.MAN-STD;Password=In.MAN-STD" providerName="System.Data.SqlClient"/>
     -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="9000" />
    <machineKey validationKey="DE2BB2E79A459B3C69BC101ADBA0C0FEB4E40310" decryptionKey="1A0CFAF2115E8583152FE4BF2D95DFB914D1006DF3F71786" decryption="3DES" validation="SHA1" />
    <authentication mode="Forms">
      <forms name=".DOTNETNUKE" protection="All" timeout="60" cookieless="UseCookies" loginUrl="Security.asmx" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="DotNetNuke" passwordFormat="Encrypted" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="DotNetNuke" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="DotNetNuke" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <applicationSettings>
    <iData.WebService.Properties.Settings>
      <setting name="StockSynchronize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FireTrigger" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CalculatorTrigger" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="xKey" serializeAs="String">
        <value>+Erqa0BN5OoIORWgQkONV/3J/GD1DXERV5a/YlkTuEg=</value>
      </setting>
      <setting name="xIV" serializeAs="String">
        <value>qBoGh9fVdp9bvjhOhE3deg==</value>
      </setting>
      <setting name="DatabaseType" serializeAs="String">
        <value>SqlServer</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AuthorityMethod" serializeAs="String">
        <value>AspNet</value>
      </setting>
      <setting name="SessionTimeOut" serializeAs="String">
        <value>1200</value>
      </setting>
    </iData.WebService.Properties.Settings>
  </applicationSettings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>